
<div class="container mt-5">
  <form (submit)="submitDemande()">
    <div class="form-group">
      <label for="attestationSelect">Select Attestation:</label>
      <select id="attestationSelect" class="form-control" [(ngModel)]="selectedAttestation" name="attestation">
        <option [ngValue]="null"  selected>Select Attestation</option>
        <option *ngFor="let attestation of attestations" [ngValue]="attestation">
          {{ attestation.name }} - {{ attestation.exist ? 'crée le ' + attestation.creationDate : 'Inexiste' }}
        </option>
      </select>
      
    </div>

    <h3 style="text-align: center;" *ngIf="attestations && attestations.length == 0;">No attestations available</h3>

    <button *ngIf="attestations && attestations.length > 0" type="submit" class="btn btn-primary">Submit Request</button>
  </form>

  <button *ngIf="selectedAttestation && selectedAttestation.exist && selectedAttestation.pdfPath" class="btn btn-primary mt-3" (click)="fetchPdf(removePrefix(selectedAttestation.pdfPath))">
    View PDF
  </button>

  <div class="row mt-3">
    <div class="col-md-4" (click)="openStatusModal('en cours')">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">En Cours</h5>
          <p class="card-text">{{ enCoursCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="openStatusModal('accepted')">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">Accepter</h5>
          <p class="card-text">{{ accepterCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="openStatusModal('refused')">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5 class="card-title">Refusér</h5>
          <p class="card-text">{{ refuserCount }}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>



<div #pdfModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" style="max-width: 800px;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">PDF Viewer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe #pdfIframe width="100%" height="600" frameborder="0"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="openFullscreen()">Full Screen</button>
        </div>
      </div>
    </div>
  </div>


  <div #statusModal class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Status Modal</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table" *ngIf="filteredDemandes.length > 0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>User ID</th>
                  <th>Attestation ID</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let demande of filteredDemandes">
                  <td>{{ demande.id }}</td>
                  <td>{{ demande.user_id }}</td>
                  <td>{{ demande.attestation_id }}</td>
                  <td>{{ demande.isApproved }}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="fetchPdf2(demande.attestation_id)">View PDF</button>
                    <button type="button" class="btn btn-danger" *ngIf="demande.isApproved === 'en cours'" (click)="demande.id && deleteDemande(demande.id,demande.isApproved)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="filteredDemandes.length === 0" class="text-center">
              <p>No data available</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
